<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site consulting final</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,80">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Full-Width-Center-Container.css">
    <link rel="stylesheet" href="assets/css/Simple-Profile-Info.css">
    <link rel="stylesheet" href="assets/css/Google-Style-Login.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Brand</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="#">Accueill</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Collaborateurs <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">Liste Collaborateurs</a></li>
                            <li role="presentation"><a href="#">Ajout d'un collaborateur</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Clients <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">Liste Clients</a></li>
                            <li role="presentation"><a href="#">Ajout d'un client</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Compétences <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">Liste Compétences</a></li>
                            <li role="presentation"><a href="#">Ajout d'une compétence</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Outils <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">Liste Outils</a></li>
                            <li role="presentation"><a href="#">Ajout d'un outil</a></li>
                        </ul>
                    </li>
                    <li role="presentation"><a href="#">CRA </a></li>
                    <li role="presentation"><a href="#" id="nav_login" class="navbar-nav ml-auto">Connexion / Deconnexion</a></li>
                    <li role="presentation"><a href="#" id="nav_login" class="navbar-nav ml-auto">Admin </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-card"><img src="assets/img/avatar_2x.png" class="profile-img-card">
                    <p class="profile-name-card">Anne Onyme</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Chef de Projet Digital - 5 ans expérience</h1>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor neque, feugiat ac sapien in, tempus varius diam. Proin at orci rhoncus ipsum facilisis mollis. Proin ante massa, auctor sit amet dui a, mollis feugiat ante. Duis nec
                    sagittis elit. Nulla quis enim dignissim, sollicitudin tellus id, dictum risus. Vivamus vitae lacinia risus. Donec pulvinar lectus id nulla condimentum, at scelerisque tellus mattis. Morbi pellentesque, massa luctus tempor semper,
                    erat mi dignissim mi, et mollis quam lorem at libero. Aenean malesuada sapien semper dui rutrum dapibus. Ut orci ipsum, consectetur sed velit eu, fermentum pretium nunc. Curabitur vel dolor non orci semper consequat. Proin purus nunc,
                    elementum vel elit quis, varius vestibulum metus. Sed accumsan cursus maximus. Aliquam eu est vel justo bibendum pellentesque. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Compétences </h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Niveau d'intervention</h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clients </h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Secteur </h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Formation </h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Parcours </h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Outils </h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Langues </h3></div>
                    <div class="panel-body">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Missions </h2></div>
        </div>
        <div class="row">
            <div class="col-md-12 colonne_xp">
                <h3 class="text-center titre_mission">Product Owner - Stellaint (Assurance) - 2018/2019 (9 mois)</h3>
                <p><strong>Stelliant souhaite simplifiertous les échanges informatisés d’applicatif vers d’autre applicatifs: dans ce cadre le projet Neurone a été lancé pour servir de pont sécurisé entre tous les applicatifs</strong> </p>
                <p>Phasellus elementum mi sit amet condimentum accumsan. Donec dictum nec orci a venenatis. Nulla non leo quis enim tincidunt aliquet non sit amet lectus. Cras facilisis libero tempus turpis egestas convallis quis et augue. Aenean vitae pulvinar
                    nisi, et condimentum est. Nulla mollis magna erat, sit amet placerat turpis faucibus vitae. Praesent lacinia feugiat turpis quis eleifend. Quisque dignissim facilisis egestas. Etiam in metus eu erat semper sagittis. Vivamus at mauris
                    laoreet, gravida diam eu, tempor felis. Quisque mauris mauris, cursus ut augue eu, porta faucibus odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean mi orci, luctus a ante a,
                    scelerisque porta mauris. Phasellus eu sodales quam. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 colonne_xp">
                <h3 class="text-center titre_mission">Product Owner - Stellaint (Assurance) - 2018/2019 (9 mois)</h3>
                <p><strong>Stelliant souhaite simplifiertous les échanges informatisés d’applicatif vers d’autre applicatifs: dans ce cadre le projet Neurone a été lancé pour servir de pont sécurisé entre tous les applicatifs</strong> </p>
                <p>Phasellus elementum mi sit amet condimentum accumsan. Donec dictum nec orci a venenatis. Nulla non leo quis enim tincidunt aliquet non sit amet lectus. Cras facilisis libero tempus turpis egestas convallis quis et augue. Aenean vitae pulvinar
                    nisi, et condimentum est. Nulla mollis magna erat, sit amet placerat turpis faucibus vitae. Praesent lacinia feugiat turpis quis eleifend. Quisque dignissim facilisis egestas. Etiam in metus eu erat semper sagittis. Vivamus at mauris
                    laoreet, gravida diam eu, tempor felis. Quisque mauris mauris, cursus ut augue eu, porta faucibus odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean mi orci, luctus a ante a,
                    scelerisque porta mauris. Phasellus eu sodales quam. </p>
            </div>
        </div>
        <div class="row" id="row_bouton_cv">
            <div class="col-md-12"><a class="btn btn-info btn-lg" role="button" href="#" id="bouton_generation_cv">GENERER CV</a></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>